<!-- userhistory/templates/userhistory/history.html -->

{% extends 'base.html' %}

{% block title %}User History{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="content">
        <div class="heading">User History</div>
        <p>Number of visits today: {{ visit_count }}</p>
        <p>Last visit: {{ last_visit }}</p>
        <a href="{% url 'MainPage:main_page' %}" class="btn btn-primary">Back to Home</a>
    </div>
</div>
{% endblock %}
