{% extends 'login_base.html' %}

{% block title %}
    Green Conscious - Login
{% endblock %}


{% block body_content %}
<body class="login-body">
    <div class="container">
        <h2>Login</h2>
        <form action="{% url 'Login_SignUp:login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="/users/signup/">Sign up here</a></p>
    </div>
</body>
{% endblock %}