<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="../../static/passwordresetstyle.css">
</head>
<body>
    <div class="container">
        <h2>Password Reset</h2>
        <form method="POST" action="{% url 'Login_SignUp:passwordreset' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Change Password</button>
        </form>

    </div>
</body>
</html>
