{% extends 'base.html' %}

{% block title %}Event Update{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}
{% block navbar-content%}
    <a href="{% url 'MainPage:main_page' %}">
        <div class="name">Green Conscious</div>
    </a>
    <div class="login-register">
        <a href="{% url 'Login_SignUp:profile_view' %}">
            <button>My Profile</button>
        </a>
        <a href="{% url 'MainPage:main_page' %}">
            <button>Home</button>
        </a>
    </div>
{%  endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="content">
            <div class="heading">Event Details Update</div>
            <form action="{% url 'MainPage:event_details_update' event_id=given_event_id%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update My Event Details</button>
            </form>
            <br>
            <a href="{% url 'MainPage:event_detail' event_id=given_event_id%}" class="btn btn-primary back-button">Back to Events</a>
        </div>
    </div>
{% endblock %}
