.container-fluid{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.dateTime_field{
    margin-right: 10px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input_field{
    margin-right: 10px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    /* margin: 0 5px; */
    cursor: pointer;
    border-radius: 5px;
}

.heading {
    color: #4CAF50;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}

.content{
    margin-top: 25px !important;
    padding: 20px !important;
}