.container-fluid {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.background {
    background-color: #f9f9f9 !important;
}

.background_registration {
    min-height: 70vh !important;
    max-height: 100vh !important;
}

.event_create_form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.event_create_form p {
    margin: 12px 0;
    color: #555;
}

.event_create_form strong {
    color: #333;
}

.dateTime_field {
    margin-right: 10px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f9f9f9;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input_field {
    margin-right: 10px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f9f9f9;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea {
    background-color: #f9f9f9 !important;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    /* margin: 0 5px; */
    cursor: pointer;
    border-radius: 5px;
}

.heading {
    color: #4CAF50;
    font-family: "Eras Medium ITC", sans-serif;
    font-size: 33px !important;
    font-weight: bolder;
    padding: 20px 20px 0 !important;
}

form {
    padding: 10px 20px !important;
}

.content {
    margin-top: 60px !important;
    padding: 0 !important;
    font-family: "Eras Medium ITC", sans-serif !important;
    font-weight: bold;
}

.errorlist {
    background-color: #cc0638 !important;
    color: white !important;
    padding: 10px !important;
    list-style-type: none !important;
    border-radius: 5px !important;
    margin: 10px 0 !important;
}

.errorlist li {
    margin: 0 !important;
}

.event_registration {
    background-color: #f9f9f9;
    /*border: 1px solid #ddd;*/
    border-radius: 8px;
    padding: 20px;
    margin-top: 85px !important;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.back_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}