body {
    font-family: Arial, sans-serif;
    background-color: #f0f7f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    max-height: 600px;
    margin: 80px auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #4CAF50;
    text-align: center;
    width: 300px;
}

.container2 {
    width: 500px;
}

.profile-image {
    margin-bottom: 50px;
}

.profile-heading {
    margin-top: 30px;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4CAF50;
}

.profile-heading p {
    color: #34495e;
    text-align: center;
}

.profile-details form {
    margin: 0px;
}

.profile-details label {
    display: block;
    margin-bottom: 5px;
    color: #4CAF50;
    font-weight: bold;
}

.profile-details input[type="text"],
.profile-details input[type="password"]
.profile-details input[type="submit"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-details input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    height: 35px;

}

.profile-details input[type="submit"]:hover {
    background-color: #45a049;
}

.profile-details a {
    color: #4CAF50;
    text-decoration: none;
    margin-right: 10px;
}

.profile-details a:hover {
    text-decoration: underline;
}

.my-events {
    margin-top: 20px;
    text-align: center;
}

.my-events a {
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.my-events a:hover {
    background-color: #45a049;
}

