body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #4CAF50;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.footer {
    color: green;
    font-size: 18px;
    font-family: "Eras Medium ITC", sans-serif !important;
    font-weight: bold;
}

.footer_content {
    color: green;
    font-size: 18px;
    font-family: "Eras Medium ITC", sans-serif !important;
    font-weight: bold;
    margin-top: 15px !important;
}

.footer_title {
    font-family: "Eras Medium ITC", sans-serif;
    font-size: 33px !important;
    font-weight: bolder;
}

.footer_sub_title {
    font-family: "Eras Medium ITC", sans-serif;
    font-size: 18px !important;
    font-weight: bold;
}

footer {
    background-color: #e6ffed;
}

.navbar .name {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.navbar .login-register a {
    text-decoration: none;
}

.navbar .login-register button {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar .login-register button:hover {
    background-color: #45a049;
}

.content {
    margin-top: 60px; /* Adjust this value based on the height of your navbar */
    padding: 20px;
    font-family: "Eras Medium ITC", sans-serif !important;
    font-weight: bold;
}

/* Event container styles */
/*.container {*/
/*    padding: 10px;*/
/*    border-radius: 12px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.event {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event img {
    border-radius: 8px;
    margin-top: 10px;
    max-width: 100%;  /* Ensures image doesn't exceed container width */
    max-height: 300px; /* Fixes image height */
    width: auto;
    height: auto;
    object-fit: cover; /* Ensures image covers the fixed area */
}

.event h2 {
    margin: 0;
    padding: 0;
    color: #333;
}

.event p {
    margin: 5px 0;
    color: #555;
}

.event strong {
    color: #333;
}

.text_navbar {
    font-family: monospace, sans-serif;
    font-weight: bolder;
}
