{% extends 'base.html' %}

{% block title %}Event Registration{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block navbar-content%}
    <a href="{% url 'MainPage:main_page' %}">
        <div class="name">Green Conscious</div>
    </a>
    <div class="login-register">
        <a href="{% url 'Login_SignUp:profile_view' %}">
            <button>My Profile</button>
        </a>
        <a href="{% url 'MainPage:main_page' %}">
            <button>Home</button>
        </a>
    </div>
{%  endblock %}

{% block content %}
    <div class="container-fluid background_registration">
        <div class="content event_registration">
            <div class="heading">Event Registration</div>
            <form action="{% url 'EventsPage:event_registration' event_id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Register for this Event</button>
            </form>
        </div>
    </div>
{% endblock %}
