{% extends 'base.html' %}

{% block title %}Create Post{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block navbar-content%}
    <a href="{% url 'MainPage:main_page' %}">
        <div class="name">Green Conscious</div>
    </a>
    <div class="login-register">
        <a href="{% url 'Login_SignUp:profile_view' %}">
            <button>My Profile</button>
        </a>
        <a href="{% url 'MainPage:main_page' %}">
            <button>Home</button>
        </a>
    </div>
{%  endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="content">
            <header class="header">
                <h1 class="heading">Create Post</h1>
            </header>
            <main>
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <a href="{% url 'community_page' %}" class="btn btn-secondary">Back to Community Page</a>
            </main>
        </div>
    </div>
{% endblock %}
